* {
  font-family: Helvetica;
}

.hero {
  background-image: url(/Users/sadodds/Prj-Broadway/resources/images/the-flatiron-building.png);
  text-align: center;
  color: White;
}

h1 {
  font-size: 70px;
  font-weight:bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.hero h2 {
  font-size: 23px;
  color: White;
}

a {
  font-size: 18px;
  color: White;
}

p {
  font-size: 14px;
}

.supporting {
  text-align: center;
}

.footer {
  background-color: Dimgrey;
  font-size: 11px;
  color: White;
}
